
<div class="lp d-flex flex-row align-items-stretch">
    <div class="flex-grow-1 d-none d-md-block">
        <img src="../../assets/images/login-logo.jpg" class="banner_img d-block">
    </div>
    <div class="fc p-4 flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="">
            <div class="text-center mb-3">
                <img src="assets/images/amogha.png" height="60">
            </div>
            <h2 class="mb-1">Welcome to Amogha!👋🏻</h2>
            <p style="color: var(--body-color-op7);" class="mb-4 mt-2">Please sign-in to your account and start the
                adventure
            </p>
            <div [formGroup]="UserForm">
                <div class="mb-4">
                    <p-floatLabel>
                        <input pInputText class="w-100" formControlName="email" [(ngModel)]="User.email" />
                        <!-- <p-iconField iconPosition="left">
                  <p-inputIcon styleClass="pi pi-envelope" />
                  <input type="text" pInputText formControlName="email" [(ngModel)]="User.email" placeholder="Search" class="w-100"/>
                </p-iconField> -->
                        <label>Email</label>
                    </p-floatLabel>
                    <div class="mt-1">
                        <app-validation propertyName="email" [MessageArray]="LoginValidationMessages"
                            [FormGroupName]="UserForm"></app-validation>
                    </div>
                </div>

                <div class="mb-3">
                    <p-floatLabel>
                        <p-password formControlName="password" [toggleMask]="true" [feedback]="false" styleClass="w-100"
                            inputStyleClass="w-100" [(ngModel)]="User.password" />
                        <label>Password</label>
                    </p-floatLabel>
                    <div class="mt-1">
                        <app-validation propertyName="password" [MessageArray]="LoginValidationMessages"
                            [FormGroupName]="UserForm"></app-validation>
                    </div>
                </div>

            </div>
            <div class="d-flex align-items-center justify-content-between mb-3">
                <p-checkbox label="Remember me" [(ngModel)]="rememberMe" [binary]="true" />
                <p-button label="Forgot password?" [link]="true" routerLink="/Forgot" />
            </div>
            <p-button label="Log In" [raised]="true" class="d-block w-100 mb-2" styleClass="w-100" (click)="Login()" />
            <div class="d-flex align-items-center justify-content-center">
                <span class="align-middle">New on our platform?</span>
                <p-button label="Create an account" [link]="true" routerLink="/register" />
            </div>

        </div>
    </div>
</div>