<!-- 
<p-card>
    <app-sticky-page-header title="SubCategory List" [isCardTitle]="true" [showBackButton]="false"  class="mb-3">
        <ng-template mTemplate tempName="buttons">
            <p-button pRipple icon="pi pi-plus" routerLink="/SubCategory/0" label="Add" severity="primary" [size]="headerPinned ? 'small' : undefined"/>            
        </ng-template>
        <ng-template mTemplate tempName="input">
            <p-iconField iconPosition="left">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search" />
            </p-iconField>
        </ng-template>
    </app-sticky-page-header>
    <p-table [responsive]="true" #dt [globalFilterFields]="['name', 'status',]"
    [value]="SubCategoryList" [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10"
    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [scrollable]="true">

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th pSortableColumn="name">
                Name<p-sortIcon field="name" />
            </th>
            <th pSortableColumn="status">
                Display Order<p-sortIcon field="status" />
            </th>
            <th pSortableColumn="status">
                Category<p-sortIcon field="status" />
            </th>
            <th pSortableColumn="status">
                Description<p-sortIcon field="status" />
            </th>
            <th class="text-end">
                Action
            </th>
        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-item>
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.name}}</td>
            <td>{{item.name}}</td>
            <td>{{item.name}}</td>
            <td class="text-end">
                <p-button icon="pi pi-pencil" [rounded]="true" severity="primary" size="small" [routerLink]="['/SubCategory', item.id]"/>
                <p-button icon="pi pi-trash" [rounded]="true" severity="danger" size="small" (click)="DeleteCategory(item.id, item.name)" class="ms-3"/>
            </td>
        </tr>
    </ng-template>

    </p-table>
</p-card>
 -->


 <p-card class="mt-5">
    <app-sticky-page-header title="Sub Category List" [isCardTitle]="true" [showBackButton]="false" (isPinned)="headerPinned = $event" class="mb-3">

    </app-sticky-page-header>

    <p-table [responsive]="true" #dt [globalFilterFields]="['name','category.name']" [value]="SubCategoryList" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
        [scrollable]="true">

        <ng-template pTemplate="caption">
            <div class="d-flex justify-content-between">
                <p-button icon="pi pi-plus" label="Add New" [raised]="true" severity="primary" (click)="AddOrEditSubCategory(0)" />
                <p-iconField iconPosition="left">
                    <p-inputIcon>
                        <i class="pi pi-search"></i>
                    </p-inputIcon>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
                </p-iconField>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="category.name">
                    Main Category
                    <p-sortIcon field="category.name" />
                </th>
                <th pSortableColumn="name">
                    Name
                    <p-sortIcon field="name" />
                </th>
                <th class="text-end">
                    Action
                </th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-item>
            <tr>
                <td>{{item.category.name}}</td>
                <td>{{item.name}}</td>
                <td class="text-end">
                    <p-button icon="pi pi-pencil" [rounded]="true" severity="primary" (click)="AddOrEditSubCategory(item.id)" />&nbsp;
                    <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="DeleteSubCategory(item.id,item.name)" />
                </td>
            </tr>
        </ng-template>

    </p-table>
</p-card>
<p-confirmDialog header="Confirmation" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>