<!-- <app-sticky-page-header class="mb-4" [title]="'Item Ledger'"
    [isCardTitle]="false"></app-sticky-page-header> -->

    <p-card header="Price">
        <div class="row mt-3" [formGroup]="PriceForm" >

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
                <p-floatLabel>
                    <p-calendar dateFormat="dd-M-yy" formControlName="date_time" styleClass="w-100" [showTime]="true" [hourFormat]="12" [(ngModel)]="PriceData.date_time"/>
                    <label>Date<span style="color: red;"> * </span></label>
                </p-floatLabel>
                <small class="d-inline-block mt-2">
                    <app-validation propertyName="date_time" [MessageArray]="PriceValidationMessage"
                [FormGroupName]="PriceForm"></app-validation>
                </small>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                <p-floatLabel>
                    <p-dropdown styleClass="w-100" [filter]="true" appendTo="body" formControlName="metal_id" [options]="MetalDropdown" (onChange)="GetPurityList($event.value)" [(ngModel)]="PriceData.metal_id" optionLabel="name" optionValue="id" placeholder="Select Metal" />
                    <label>Metal<span style="color: #FC6161;"> * </span></label>
                </p-floatLabel>
                <app-validation propertyName="metal_id" [MessageArray]="PriceValidationMessage"
                [FormGroupName]="PriceForm"></app-validation>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
                <p-floatLabel>
                    <p-dropdown styleClass="w-100" [filter]="true" appendTo="body" formControlName='purity_id' [options]="PurityDropdown" [(ngModel)]="PriceData.purity_id" optionLabel="name" optionValue="id" placeholder="Select Purity" readonly="true"/>
                    <label>Purity<span style="color: #FC6161;"> * </span></label>
                </p-floatLabel>
                <app-validation propertyName="purity_id" [MessageArray]="PriceValidationMessage"
                [FormGroupName]="PriceForm"></app-validation>
            </div>

            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-4">
                <!-- <p-floatLabel>
                    <input pInputText type="text" class="w-100" formControlName="price" [(ngModel)]="PriceData.price" />
                    <label>Price<span style="color: red;"> * </span></label>
                </p-floatLabel> -->
                <p-floatLabel>
                    <label class="mb-2" >Price<span style="color: #FC6161; "> * </span></label>                
                        <p-inputNumber formControlName="price" [(ngModel)]="PriceData.price" styleClass="w-100" inputStyleClass="w-100" class="w-100" placeholder="Enter Price"
                        [minFractionDigits]="2" [maxFractionDigits]="2" [min]="0.0" suffix=" per/gm"/>
                </p-floatLabel>  
                <app-validation propertyName="price" [MessageArray]="PriceValidationMessage"
                [FormGroupName]="PriceForm"></app-validation>
            </div>
            
        </div>
        <div class="col-12 text-end mt-2">
            <p-button icon="pi pi-times" label="Cancel" class="me-3" [raised]="true"  severity="danger"  (click)="Cancel()"/>
            <button pButton pRipple icon="pi pi-check-circle" class="me-3" label="Save"
                class="p-button-success" (click)="SaveOrUpdate()"></button>
        </div>
</p-card>

<div class="mt-3" >
<p-card header="Item Ledger List">
    <p-table #dt [value]="PriceList" [rowHover]="true" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0"
            [globalFilterFields]="['price','date_time','metal_name','purity_name']" [tableStyle]="{ 'width': '100%' }" [scrollable]="true">
            <ng-template pTemplate="caption">
                <div class="d-flex justify-content-between">
                    <span></span>
                    <p-iconField iconPosition="left">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search" />
                    </p-iconField>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="date_time">
                        Date 
                        <p-sortIcon field="date_time"/>
                    </th>
                    <th pSortableColumn="metal_name">
                        Metal 
                        <p-sortIcon field="metal_name" />
                    </th>
                    <th pSortableColumn="purity_name">
                        Purity 
                        <p-sortIcon field="purity_name" />
                    </th>
                    <th pSortableColumn="price" style="text-align: end;">
                        Price 
                        <p-sortIcon field="price" />
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td>{{item.date_time  | date:'dd-MMM-yyyy - HH:mm:ss'}}</td>
                    <td>{{item.metal_name}}</td>
                    <td>{{item.purity_name}}</td>
                    <td style="text-align: end;">{{CurrencySymbol}} {{item.price}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>